html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

body {
    display: block;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
}

table thead {
  position: sticky;
  inset-block-start: 0; /* "top" */
}

h1, h3 {
    text-align: center;
}

main {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 auto;
    width: 100%; 
    max-width: 1400px; 
    min-width: 0;
    background-color:gainsboro;

}

footer {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    width: 100%; 
    max-width: 1400px; 
    min-width: 0;
    background-color: darkgray;
    
}

table {
    margin: 0 auto;
}

table caption {
    background-color: lightskyblue;
    font-size: 1.6rem;
    padding: 1.6rem 1rem;
}

th {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    background-color: skyblue;
    border: 2px solid lightskyblue;
}

td {
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: white;
    word-wrap:unset;
}

code {
    font-family: monospace;
    line-height: 2rem;
    padding: .75rem;
    background-color: lightcyan;
}

th.selector {
    width: 25%;
}

th.example {
    width: 28%;
}

#cssvideo {
    display: block;
    max-width: 560px;
    padding-top: 45px;
    margin: 0 auto;
}
